<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despensa</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
<div class="contenedor2">
    <header class="header">
        <nav>
            <ul class="menu">
        <li> <a href="../index.html">Menu</a> </li>
        <li> <a href="freezer.html">Freezer</a> </li>
        <li> <a href="Heladera.html">Heladera</a> </li>
        <li> <a href="Despensa.html">Despensa</a></Li>
        <li> <a href="Dietas.html">Dietas</a> 
            <ul class="submenu">
                <li> <a href="dietas">Vegetariano</a></li>
                <li> <a href="dietas">Vegano</a></li>
                <li> <a href="dietas">Sin Tacc</a></li>

            </ul>
        </li>
            </ul>
            </nav>
    </header>
    
    

    
        <div class="banner"> 
            <img src="../imagenes/menta y jenjibre - logo PNG  (1).png" alt="">
        </div>
        <section class="section1 boxiz">
            <h3>
                Despensa
            </h3>
             <p>
                Si cuentas con una despensa organizada y llena con los básicos imprescindibles, comer sano es una tarea mucho más sencilla. aca encontraras todo lo que necesites 
             </p>
         
        </section>
        <section class="section2 boxde">
         <div>
             <img src="../imagenes/despensa/granola.png" alt="granola">
         </div>
         <div>
             <img src="../imagenes/despensa/mantequilla.jpg" alt="mantequilla">
         </div>
         <div>
             <img src="../imagenes/despensa/maple.jpg" alt="maple">
         </div>
         <div>
             <img src="../imagenes/despensa/mascabo.jpg" alt="mascabo">
         </div>
         <div>
             <img src="../imagenes/despensa/tostadas.png" alt="tostadas">
         </div>
        </section>   


        <footer class="footer">
         <a href="#top">incio</a >
        </footer>
    </div>

</body>
</html>