<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dietas</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="contenedor2">
        <header class="header">
    <nav>
    <ul class="menu" id="top">
        <li> <a href="../index.html">Menu</a> </li>
        <li> <a href="freezer.html">Freezer</a> </li>
        <li> <a href="Heladera.html">Heladera</a> </li>
        <li> <a href="Despensa.html">Despensa</a></Li>
        <li> <a href="Dietas.html">Dietas</a> 
            <ul class="submenu">
                <li> <a href="#vege">Vegetariano</a></li>
                <li> <a href="#veg">Vegano</a></li>
                <li> <a href="#sin">Sin Tacc</a></li>

            </ul>
        </li>
    </ul>
    </nav>
        </header>
   
        <div class="banner"> 
            <img src="../imagenes/menta y jenjibre - logo PNG  (1).png" alt="">
        </div>
        <section class="section1 boxiz" id="vege">
                <h3>
                    Vegetariano
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, optio, veniam ipsa at id officia doloribus autem repudiandae illum magnam mollitia minus reprehenderit quaerat doloremque quos ipsum? Exercitationem cupiditate alias nisi aspernatur ducimus distinctio nemo quas! Modi placeat iure sunt saepe ipsa earum nemo sequi non similique. Aut quam magnam laborum repudiandae numquam nam quod facilis rerum excepturi voluptate illum, culpa cumque quas ducimus sunt a sequi, ipsam esse cupiditate vel veritatis mollitia? Exercitationem numquam, fuga perspiciatis nihil harum ipsam cumque assumenda repellendus saepe, quas quaerat necessitatibus optio! Earum libero dignissimos accusamus sint harum facere cum incidunt vero ipsam eveniet.
                    </p>
                </h3>
        </section>

        <section class="section2 boxde">

                <div>
                    <img src="../imagenes/heladera/felices postre.png" alt="postre">
                </div>
                <div>
                    <img src="../imagenes/heladera/jugo de manzana.jpg" alt="jugo">
                </div>
                <div>
                    <img src="../imagenes/heladera/leche de almendras.png" alt="leche">
                </div>

        </section>

        <section class="section1 boxiz1" id="veg">
                <h3>
                    Vegano</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, optio, veniam ipsa at id officia doloribus autem repudiandae illum magnam mollitia minus reprehenderit quaerat doloremque quos ipsum? Exercitationem cupiditate alias nisi aspernatur ducimus distinctio nemo quas! Modi placeat iure sunt saepe ipsa earum nemo sequi non similique. Aut quam magnam laborum repudiandae numquam nam quod facilis rerum excepturi voluptate illum, culpa cumque quas ducimus sunt a sequi, ipsam esse cupiditate vel veritatis mollitia? Exercitationem numquam, fuga perspiciatis nihil harum ipsam cumque assumenda repellendus saepe, quas quaerat necessitatibus optio! Earum libero dignissimos accusamus sint harum facere cum incidunt vero ipsam eveniet.
                    </p>
        </section>    
        <section class="section2 boxde1">
            
        
                <div>
                    <img src="../imagenes/dietas/untable.png" alt="untable">
                </div>
                <div>
                    <img src="../imagenes/dietas/nutre.jpg" alt="nutre">
                </div>
                <div>
                    <img src="../imagenes/dietas/pancakes.png" alt="pancakes">
                </div>
        </section>

        
        <section class="section1 boxiz2" id="sin">
                <h3>
                 Sin Tacc</h3>
                 <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, optio, veniam ipsa at id officia doloribus autem repudiandae illum magnam mollitia minus reprehenderit quaerat doloremque quos ipsum? Exercitationem cupiditate alias nisi aspernatur ducimus distinctio nemo quas! Modi placeat iure sunt saepe ipsa earum nemo sequi non similique. Aut quam magnam laborum repudiandae numquam nam quod facilis rerum excepturi voluptate illum, culpa cumque quas ducimus sunt a sequi, ipsam esse cupiditate vel veritatis mollitia? Exercitationem numquam, fuga perspiciatis nihil harum ipsam cumque assumenda repellendus saepe, quas quaerat necessitatibus optio! Earum libero dignissimos accusamus sint harum facere cum incidunt vero ipsam eveniet.
                 </p>
                
        </section>
            
            
        <section class="section2 boxde2">
                <div>
                 <img src="../imagenes/heladera/felices postre.png" alt="postre">
                </div>
                <div>
                 <img src="../imagenes/heladera/jugo de manzana.jpg" alt="jugo">
                </div>
                <div>
                 <img src="../imagenes/heladera/leche de almendras.png" alt="leche">
                </div>
                <div>
                 <img src="../imagenes/heladera/tofu.png" alt="tofu">
                </div>
                <div>
                 <img src="../imagenes/heladera/yogures.jpg" alt="yogur">
                </div>
        </section>

         

        <footer class="footer">
            <a href="#top">incio</a >
        </footer>
    </div> 
</body>
</html>