<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freezer</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    

    <div class="contenedor2">
        <header class="header">
        <nav>
        <ul class="menu">
            <li> <a href="../index.html">Menu</a> </li>
            <li> <a href="freezer.html">Freezer</a> </li>
            <li> <a href="Heladera.html">Heladera</a> </li>
            <li> <a href="Despensa.html">Despensa</a></Li>
            <li> <a href="Dietas.html">Dietas</a> 
                <ul class="submenu">
                    <li> <a href="dietas">Vegetariano</a></li>
                    <li> <a href="dietas">Vegano</a></li>
                    <li> <a href="dietas">Sin Tacc</a></li>

                </ul>
            </li>
        </ul>
        </nav>
        </header>
        
        <div class="banner"> 
        <img src="../imagenes/menta y jenjibre - logo PNG  (1).png" alt="">
        </div>
        <section class="section1 boxiz">
         <h3>
             Freezer</h3>
             <p>
              ¿Porque comprar productos colgelados?

        
                La comida que dura más,
                La comida en la que puedes confiar,
                Alimentos congelados 100% originales,
                Sin conservantes añadidos,
                La elección del viajero,
                Confiado por millones,
                Un sabor inolvidable,
                El sabor que importa,
                Comodidad en su máxima expresión.
             </p>
         
        </section>
        <section class="section2 boxde">
         <div >
             <img src="../imagenes/freezer/chipa.jpg" alt="chipa" width="200px">
         </div>
         <div >
             <img src="../imagenes/freezer/falafel.png" alt="falafel">
         </div>
         <div >
             <img src="../imagenes/freezer/not.jpg" alt="not">
         </div>
         <div >
             <img src="../imagenes/freezer/nugget.jpg" alt="nugget">
         </div>
         <div >
             <img src="../imagenes/freezer/tofu crocante.jpg" alt="tofu">
         </div>
         
        </section> 
         

     


    

        <footer class="footer">
        <a href="#top">incio</a >
        </footer>
    </div> 
</body>
</html>