<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helader</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    
    <div class="contenedor2">
    <header class="header">
    <nav>
        <ul class="menu">
            <li> <a href="../index.html">Menu</a> </li>
            <li> <a href="freezer.html">Freezer</a> </li>
            <li> <a href="Heladera.html">Heladera</a> </li>
            <li> <a href="Despensa.html">Despensa</a></Li>
            <li> <a href="Dietas.html">Dietas</a> 
                <ul class="submenu">
                    <li> <a href="dietas">Vegetariano</a></li>
                    <li> <a href="dietas">Vegano</a></li>
                    <li> <a href="dietas">Sin Tacc</a></li>

                </ul>
            </li>
        </ul>
        </nav>
    </header>
    
    <div class="banner"> 
        <img src="../imagenes/menta y jenjibre - logo PNG  (1).png" alt="">
    </div>    
           
    <section class="section1 boxiz">
                <h3>
                    Heladera</h3>
                    <p>
                     Nuestra comida deberia ser nuestra medicina y nuestra medicina deberia ser nuestra comida 
                    </p>
                
    </section>
    <section class="section2 boxde">
                <div>
                    <img src="../imagenes/heladera/felices postre.png" alt="postre">
                </div>
                <div>
                    <img src="../imagenes/heladera/jugo de manzana.jpg" alt="jugo">
                </div>
                <div>
                    <img src="../imagenes/heladera/leche de almendras.png" alt="leche">
                </div>
                <div>
                    <img src="../imagenes/heladera/tofu.png" alt="tofu">
                </div>
                <div>
                    <img src="../imagenes/heladera/yogures.jpg" alt="yogur">
                </div>
    </section>    
                
                

 
    



    <footer class="footer">
        <a href="#top">incio</a >
    </footer>
    </div>
</body>
</html>